@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #1c2230;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: 1550px;
  background-position: top 750px right 0px;
  color: #ffffff;
  min-width: 300px; }
  body h1,
  body h2 {
    font-family: "Raleway", sans-serif; }
  body p {
    color: rgba(255, 255, 255, 0.8); }
  body button {
    outline: none;
    border: none;
    background-color: #339ecc;
    border-radius: 20px;
    width: 100%;
    max-width: 270px;
    padding: 1rem;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer; }
    body button:hover {
      background-color: #65e2d9; }
  body i {
    cursor: pointer; }
  body main header,
  body main .base-container,
  body main .small-containers,
  body main .stay-container,
  body main .testimonials-container {
    display: flex; }
  body main header {
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    width: 80%;
    margin: auto; }
    body main header img {
      width: 130px; }
    body main header .menu a {
      margin-left: 3rem;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8); }
      body main header .menu a:hover {
        color: #ffffff; }
  body main .base-container {
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem; }
    body main .base-container img {
      width: 100%;
      max-width: 720px;
      object-fit: cover; }
    body main .base-container h1 {
      font-size: 2.5rem; }
    body main .base-container p {
      font-size: 1.2rem;
      width: 82%; }
  body main .middle-bg {
    margin-top: 13.8rem;
    padding-bottom: 14rem;
    background-color: #181e2a; }
    body main .middle-bg .small-containers {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5rem 0rem;
      width: 80%;
      margin: auto;
      padding-bottom: 10rem; }
      body main .middle-bg .small-containers .small-container {
        width: 50%;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center; }
        body main .middle-bg .small-containers .small-container img {
          width: 70px;
          object-fit: contain;
          height: 70px; }
        body main .middle-bg .small-containers .small-container p {
          width: 62.7%;
          line-height: 1.3rem; }
      body main .middle-bg .small-containers .small-container:nth-child(2) img {
        width: 60px; }
      body main .middle-bg .small-containers .small-container:nth-child(1) p {
        width: 58%; }
    body main .middle-bg .stay-container {
      width: 80%;
      margin: auto;
      align-items: center;
      gap: 3rem; }
      body main .middle-bg .stay-container > img {
        max-width: 615px;
        min-width: 500px;
        width: 100%;
        object-fit: cover; }
      body main .middle-bg .stay-container .stay-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem; }
        body main .middle-bg .stay-container .stay-info h2 {
          font-size: 2.5rem;
          width: 70%; }
        body main .middle-bg .stay-container .stay-info p {
          width: 87%; }
        body main .middle-bg .stay-container .stay-info a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-decoration: none;
          color: #65e2d9;
          border-bottom: 2px solid #65e2d9;
          width: fit-content;
          padding-bottom: 0.3rem; }
    body main .middle-bg .testimonials-container {
      width: 75%;
      gap: 2rem;
      display: flex;
      margin: auto;
      margin-top: 5rem;
      padding: 2rem 0rem;
      background-image: url("../images/bg-quotes.png");
      background-repeat: no-repeat; }
      body main .middle-bg .testimonials-container .comment {
        background-color: #21293c;
        padding: 2rem;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem; }
        body main .middle-bg .testimonials-container .comment .comment-profile {
          display: flex;
          align-items: center;
          gap: 1rem; }
          body main .middle-bg .testimonials-container .comment .comment-profile img {
            border-radius: 100%;
            width: 35px; }
          body main .middle-bg .testimonials-container .comment .comment-profile .profile-name .name {
            display: block;
            font-weight: 700; }
          body main .middle-bg .testimonials-container .comment .comment-profile .profile-name .work {
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.7); }
  body main .footer-bg {
    background-color: #0b1523;
    position: relative; }
    body main .footer-bg .footer {
      width: 80%;
      margin: auto;
      padding: 13rem 0rem 5rem 0rem; }
      body main .footer-bg .footer .email-container {
        width: 55%;
        padding: 3rem 5rem;
        background-color: #1c2230;
        min-width: 780px;
        position: absolute;
        top: -135px;
        left: 50%;
        margin-left: -390px;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center; }
        body main .footer-bg .footer .email-container h2 {
          font-size: 2rem; }
        body main .footer-bg .footer .email-container .input-container {
          display: flex;
          gap: 2rem; }
          body main .footer-bg .footer .email-container .input-container label {
            width: 80%; }
            body main .footer-bg .footer .email-container .input-container label input {
              padding: 0.5rem 1rem;
              border-radius: 20px;
              outline: none;
              border: 0;
              width: 100%;
              height: 100%; }
              body main .footer-bg .footer .email-container .input-container label input::placeholder {
                color: rgba(0, 0, 0, 0.5); }
            body main .footer-bg .footer .email-container .input-container label .active-input::placeholder {
              color: #ff4242; }
          body main .footer-bg .footer .email-container .input-container button {
            width: 30% !important;
            pointer-events: auto !important; }
          body main .footer-bg .footer .email-container .input-container .active-btn {
            pointer-events: none; }
      body main .footer-bg .footer .footer-container .footer-list {
        display: flex;
        gap: 4rem;
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center; }
        body main .footer-bg .footer .footer-container .footer-list .location {
          width: 28%;
          display: flex;
          gap: 1rem;
          align-items: flex-start; }
        body main .footer-bg .footer .footer-container .footer-list .email-phone {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-right: 3rem; }
          body main .footer-bg .footer .footer-container .footer-list .email-phone .email,
          body main .footer-bg .footer .footer-container .footer-list .email-phone .phone {
            display: flex;
            gap: 1rem; }
        body main .footer-bg .footer .footer-container .footer-list .nav-1 {
          display: flex;
          flex-direction: column;
          margin-left: auto;
          gap: 1rem; }
          body main .footer-bg .footer .footer-container .footer-list .nav-1 a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7); }
            body main .footer-bg .footer .footer-container .footer-list .nav-1 a:hover {
              color: #ffffff; }
        body main .footer-bg .footer .footer-container .footer-list .social {
          display: flex;
          gap: 1rem;
          margin-left: 3rem; }
          body main .footer-bg .footer .footer-container .footer-list .social i {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ffffff;
            padding: 1rem;
            border-radius: 100%; }
            body main .footer-bg .footer .footer-container .footer-list .social i:hover {
              border: 1px solid #65e2d9;
              color: #65e2d9; }

@media screen and (max-width: 992px) {
  body main header {
    width: 90%;
    justify-content: flex-start; }
    body main header .menu {
      margin-left: auto; }
      body main header .menu a {
        margin-left: 1rem; }
    body main header img {
      object-fit: cover;
      max-width: 80px;
      width: 100%; }
  body main .base-container {
    width: 90%; }
  body main .middle-bg .small-containers {
    width: 90%;
    flex-direction: column;
    align-items: center; }
    body main .middle-bg .small-containers .small-container {
      width: 100%; }
      body main .middle-bg .small-containers .small-container p {
        width: 100% !important;
        line-height: 2.2rem; }
  body main .middle-bg .stay-container {
    width: 90%;
    flex-direction: column;
    text-align: center; }
    body main .middle-bg .stay-container .stay-info h2,
    body main .middle-bg .stay-container .stay-info p {
      width: 100%; }
    body main .middle-bg .stay-container img {
      min-width: 0; }
  body main .middle-bg .testimonials-container {
    width: 90%;
    flex-direction: column; }
  body main .footer-bg .footer {
    width: 90%; }
    body main .footer-bg .footer .email-container {
      width: 100%;
      min-width: 0;
      right: 0px;
      left: 0px;
      margin-left: 0;
      padding: 3rem 2rem; }
      body main .footer-bg .footer .email-container .input-container {
        flex-direction: column;
        align-items: center; }
        body main .footer-bg .footer .email-container .input-container button {
          min-width: 170px; }
    body main .footer-bg .footer .footer-container {
      text-align: center;
      padding-top: 5rem; }
      body main .footer-bg .footer .footer-container .footer-list {
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        body main .footer-bg .footer .footer-container .footer-list .location {
          width: 100%; }
        body main .footer-bg .footer .footer-container .footer-list .nav-1 {
          margin-left: 0px; }
        body main .footer-bg .footer .footer-container .footer-list .email-phone {
          margin-right: 0; }
        body main .footer-bg .footer .footer-container .footer-list .social {
          margin-left: 0; }
          body main .footer-bg .footer .footer-container .footer-list .social i {
            padding: 1.5rem; } }

@media screen and (max-width: 500px) {
  html {
    font-size: 10px; } }
